body {
  background: #212121;
}
.wrapper { margin: 30px }
.input {
  background: transparent;
  padding: 10px;
  border: 0px solid transparent;
  border-radius: 0px;
  color: #333;
  outline: none;
  /*transition: box-shadow, border .6s linear;*/
}
.input:not([disabled]):focus,
.input:not([disabled]):hover {
  border-color: transparent;
  box-shadow: 1px 1px 1px #999
